/* Regular (400) */
@font-face {
  font-family: "Dancing";
  src: url("/public/fonts/Dancing/DancingScript-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: "Dancing";
  src: url("/public/fonts/Dancing/DancingScript-Medium.ttf");

  font-weight: 500;
  font-style: normal;
}

/* SemiBold (600) */
@font-face {
  font-family: "Dancing";
  src: url("/public/fonts/Dancing/DancingScript-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: "Dancing";
  src: url("/public/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
